@use '/src/styles/variables' as *;

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;

   .about__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;

    img {
        max-width: 100%;
        height: auto;
        
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    h2 {
        font-weight: bold;
        font-size: 1rem;
       }
    
    span {
    color: $orangeColor;
    font-weight: bold;
    margin-block: 0.5rem;
    font-size: 0.8125rem;
   }

   p {
    max-width: 29.5rem;
    margin-block: 0.75rem;
    font-size: 0.75rem;
    line-height: 1.35;
      
      span {
        font-weight: 600;
        font-size: 0.75rem;
        color: black;
      }

}
 }
  }
   }