//universel - fonts 

@font-face {
font-family: "OpenSans";
src: url("/fonts/OpenSans-VariableFont_wdth,wght.ttf");
}
@font-face {
font-family: "OpenSans Italic";
src: url("/fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf");
font-style: italic;
}