//Universel - buttons, a tags, 


.button {
    color: white;
    background-color: #FF6900;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 1px 2px 4px 0px;
    font-weight: 350;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    &__homeproducts{
        padding: 8px 32px;
    }
    &__productcard{
        padding: 8px 28px;
        margin-bottom: 25px;
    }
}
a{
    text-decoration: none;
    cursor: pointer;
}

