// universel - header + footer + logo + productcard

@use '/src/styles/variables' as *;

.footer {
    
    background-color: $blackColor;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    color: white;

    &__primary {
        display: flex;
    
    }

    &__para {
        margin-top: 1rem;
        padding: 0;
        color: white;
        text-decoration: none;
    }

    &__moreinfoItems {
        margin-left: 10rem;
        gap: 20px;

        p {
            text-align: left;
        }

        a {
            color: $backgroundColor;
            text-decoration: none;

            &:hover {
                color: $buttonBackgroundColor;
            }
        }
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 10px;

        a {
            color: $backgroundColor;

            &:hover {
                color: green;
            }
        }
    }


    &__contactItems {
        color: white;
        p {
            text-align: left;
        }
    }
    &__contactItem{
        img{
            margin-right: 1rem;
         }
         span{
            padding-bottom: 10px;
           
         }
    }

    &__navigationItem{
        color: $productCardBackground;
        text-decoration: none;
    }
    &__navigationItem:hover{
        color: $buttonBackgroundColor;
    }


    &__contact {
        margin-left: 10rem;
        text-align: left;
    }

    &__socialsItem {
        margin-left: 0.5rem;
        text-align: left;
        
        img{
            margin-top: 1rem;
            margin-right: 1rem;
            margin-bottom: 2rem;
        }
    }

    &__socials {
        margin-left: 0;
    }

    &__secondary {
        text-align: left;
        margin-top: 20px;

        img {
            margin-right: 1rem;
        }

    }
}



.hifilogo{
    border: 1px solid $whiteColor;
    background-color: $blackColor;
    width: fit-content;
    width: 56px;
    height: 57px;

    display: flex;
    align-items: end;

    cursor: pointer;
    &__textbox{
        padding-left: 0.2em;
        padding-bottom: 0.1em;
    }
    &__text{
        text-transform: uppercase;
        color: $whiteColor;
        font-size: 12px;
    }
}

.header{
    background-color: $blackColor;
    color: $whiteColor;
    padding: 21px 34px;

    display: flex;
    justify-content: space-between;
    &__left{
        display: flex;
        align-items: center;
        gap: 32px;
    }
    &__right{
        display: flex;
        align-items: center;
        gap: 51px;
    }

    // &__logo-link{
    //     text-decoration: none;
    //     color: white;
    // }
    &__navigation{
        display: flex;
        gap: 32px;
        padding-top: 10px;
    }
    &__navigation-item{
        color: $whiteColor;
        text-transform: uppercase;
        font-size: 14px;
    }
    &__navigation-item:hover{
        color: $orangeColor;
    }

    &__search-input{
        
        padding: 12px 0 10px 11px;
        background-color: $greyColor;
        border: none;
        border-radius: 2px;
    }
    &__search-input::placeholder{
        font-size: 12px;
        color: $blackColor;
    }
    &__search-input:focus{
        outline: none;
    }
    &__search-wrapper{
        position: relative;
        display: flex;
        align-items: center;
    }
    &__search-icon{
        color: $blackColor;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 22px;
        width: 22px;
    }
    &__link-icons{
        display: flex;
        gap: 26px;
    }
    &__profile-icon, &__basket-icon{
        font-size: 26px;
        color: $whiteColor;
    }
}

.productcard{
    max-height: 339px;
    max-width: 258px;
    background-color: $whiteColor;
    box-shadow: 2px 4px 4px 0 #00000024;
    border-radius: 3px;
    &__img-container{
        // width: 100%;
        margin: 45px 30px 11px 30px;
        max-width: 198px;
        height: 99px;
    }
    &__img{
        width: 100%;
        height: 100%;
        background-color: grey;
    }
    &__textbox{
        font-family: "OpenSans", sans-serif;
        font-family: 14px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 46px;
    }
    &__digital{
        margin-top: 5px;
        display: block;
    }
    &__price{
        font-size: 24px;
        margin: 0 auto;
    }
    &__footer-home{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}



