@use './variables' as *;
// universel - header + footer + logo

.hifilogo{
    border: 1px solid $whiteColor;
    background-color: $blackColor;
    width: fit-content;
    width: 56px;
    height: 57px;

    display: flex;
    align-items: end;

    cursor: pointer;
    &__textbox{
        padding-left: 0.2em;
        padding-bottom: 0.1em;
    }
    &__text{
        text-transform: uppercase;
        color: $whiteColor;
        font-size: 12px;
    }
}

.header{
    background-color: $blackColor;
    color: $whiteColor;
    padding: 21px 34px;

    display: flex;
    justify-content: space-between;
    &__left{
        display: flex;
        align-items: center;
        gap: 32px;
    }
    &__right{
        display: flex;
        align-items: center;
        gap: 51px;
    }

    // &__logo-link{
    //     text-decoration: none;
    //     color: white;
    // }
    &__navigation{
        display: flex;
        gap: 32px;
        padding-top: 10px;
    }
    &__navigation-item{
        color: $whiteColor;
        text-transform: uppercase;
        font-size: 14px;
    }
    &__navigation-item:hover{
        color: $orangeColor;
    }

    &__search-input{
        
        padding: 12px 0 10px 11px;
        background-color: $greyColor;
        border: none;
        border-radius: 2px;
    }
    &__search-input::placeholder{
        font-size: 12px;
        color: $blackColor;
    }
    &__search-input:focus{
        outline: none;
    }
    &__search-wrapper{
        position: relative;
        display: flex;
        align-items: center;
    }
    &__search-icon{
        color: $blackColor;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 22px;
        width: 22px;
    }
    &__link-icons{
        display: flex;
        gap: 26px;
    }
    &__profile-icon, &__basket-icon{
        font-size: 26px;
        color: $whiteColor;
    }
}




