$backgroundColor: #F4F4F2;
$greyColor: #BBBFCA;
$whiteColor: #FFFFFF;
$blackColor: #000000;
$orangeColor: #FF6900;
$lightGrey: #d2d2d2d2;

$sortBackgroundColor: #E8E8E8;
$productCardBackground: #FFFFFF;

$buttonHoverBoxShadowColor: #00000025;
$buttonBackgroundColor: #FF6900;
$buttonTextColor: #F4F4F2;

$headlineColor: #495464;

