@use './styles/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    background-color: $backgroundColor;
}

body{
    font-family: "OpenSans", sans-serif;
}

#root{
    width: min(100%, 1200px);
    margin: 0 auto;
    border: 1px solid grey;
}

